<%- include("partials/header"); -%>



<h1>THANK YOU!</h1>
<h4>Rs.<%= transferAmount %> has been successfully credited to <%= customerName %> .</h4>
<h4>The current balance of <%= customerName %> is: Rs.<%= currentbalance %></h4>


    
  <%- include("partials/footer"); -%>